* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

$black: rgb(15, 14, 14);
$blue: rgb(26, 89, 199);

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3% 10px;
  gap: 20px;

  &__title {
    font-size: 40px;
  }

  &__form {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  &__input {
    outline: none;
    font-size: 16px;
    padding: 15px 10px;
    width: 100%;
    border-radius: 8px;
    border: 1px solid $black;
    border-bottom: 3px solid $black;

    &:focus {
      border: 1px solid $blue;
      border-bottom: 3px solid rgb(66, 130, 204);
    }
  }

  &__f-box {
    position: relative;
    display: flex;
    align-items: center;
    width: 80%;
    max-width: 900px;
  }

  &__inp-label {
    position: absolute;
    top: -9px;
    background-color: white;
    left: 9px;
    font-size: 15px;
    color: gray;
  }

  &__button {
    padding: 15px 10px;
    border-radius: 8px;
    background-color: $blue;
    color: white;
    font-size: 16px;
    font-weight: 600;
    border-bottom: 3px solid $black;
    transition: all 0.3s ease-in-out;
    &:active {
      transform: translateY(1px);
      border-bottom: 1px solid $black;
    }
  }

  &__result-b {
    display: flex;
    flex-direction: column;
    gap: 100px;
    width: 100%;
    max-width: 800px;
  }

  &__result-profile {
    display: flex;
    justify-content: start;
    gap: 20px;
    margin-top: 20px;
    max-width: 800px;
  }

  &__result-img {
    width: 20%;
    height: 20%;
    border-radius: 100px;
    border: 1px solid $black;
  }

  &__result-pr-r {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    gap: 10px;
  }

  &__result-pr-rt {
    display: flex;
    gap: 5px;
    align-items: center;
    color: gray;
  }

  &__result-rst {
    border-radius: 8px;
    padding: 5px 10px;
    background-color: $blue;
    color: white;
    opacity: 1 !important;
    border: 1px solid $black;
    border-bottom: 3px solid $black;
    font-weight: 600;
  }

  &__result-pr-b {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

  &__result-view {
    padding: 5px 8px;
    font-size: 13px;
    border-radius: 8px;
    background-color: rgb(69, 218, 69);
    color: white;
    font-weight: 600;
    border-bottom: 3px solid $black;

    transition: all 0.3s ease-in-out;
    &:active {
      transform: translateY(1px);
    }
  }

  &__result {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
  }

  &__result-repos-t {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
  }

  &__top {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .none {
    display: none !important;
  }
  &__warning {
    color: rgb(95, 10, 10);
    font-weight: 600;
    background-color: rgb(243, 118, 118);
    padding: 10px;
    border-radius: 8px;
    border: 1px solid rgb(160, 12, 12);
  }

  &__loader {
    color: black;
    width: 40px;
  }

  .load {
    animation-name: load;
    animation-duration: 1s;
    animation-iteration-count: infinite;
  }

  @keyframes load {
    0% {
      transform: rotate(1turn);
    }
    100% {
      transform: rotate(2turn);
    }
  }

  &__result-repos {
    display: flex;
    padding: 15px 10px;
    border-radius: 8px;
    border: 1px solid $black;
    border-bottom: 3px solid $black;
    gap: 10px;
    flex-direction: column;
    align-items: start;
    background-color: rgb(239, 248, 254);
  }

  &__result-link-t {
    font-size: 15px;
    color: $blue;
    text-decoration: underline;
    &:hover {
      cursor: pointer;
      opacity: 0.8;
    }
  }

  &__result-repos-pb {
    background-color: rgb(68, 229, 43);
    width: auto;
    padding: 5px;
    border-radius: 8px;
    font-weight: 600;
    font-size: 14px;
  }

  &__result-respos-texts {
    display: flex;
    gap: 5px;
    align-items: center;
  }

  &__result-vn {
    background-color: $blue;
    padding: 5px;
    border-radius: 8px;
    color: white;
    font-weight: 600;
  }
}
